.selectedItemsContainer {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.cashierStateItemImg {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: cover;
  border-radius: 0.3rem;
}

.tableContainer {
  box-sizing: border-box;
  border-radius: 0.5rem;
  max-height: 80%;
  overflow: auto;
}

.cashierStateTable {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--grey860);
  overflow: auto;
}

.cashierStateTable > thead {
  font-size: 1.2em;
  line-height: 1.2em;
}
.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.cashierStateTable > thead > tr {
  border-bottom: thin solid var(--pink500);
  color: var(--pink150);
}
.cashierStateTable > thead > tr > th {
  background-color: var(--pink800);
  padding: 0.8rem 0.3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.cashierStateTable > tbody {
  font-size: 1.2em;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table thead tr:first-child th:first-child {
  border-top-left-radius: 0.5rem;
}
table thead tr:first-child th:last-child {
  border-top-right-radius: 0.5rem;
}

table tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
  
table tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}

.cashierStateTable > tbody > tr {
  border-bottom: thin solid var(--pink800);
}

.cashierStateTable > tfoot {
  position: sticky;
  bottom: 0;
}
.cashierStateTable > tfoot > tr {
  font-size: 2em;
  line-height: 2em;
  border-top: thin solid var(--pink500);
  box-sizing: content-box;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--grey820);
  color: var(--pink50);
  bottom: 0;
}

.cashierStateTable > tbody > tr:last-of-type {
  border-bottom: none;
}

.cashierStateTable > tbody > tr > td {
  box-sizing: border-box;
  padding: 0.3rem;
  line-height: 0.5em;
}

.qty {
  background-color: var(--pink800);
  color: var(--pink60);
  height: 2.2rem;
  border-radius: 1rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.cashierStateTable svg {
  fill: var(--pink300);
  width: 1.8rem;
  height: 1.8rem;
}

.cashierStateTable button {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  margin: 0px;
  padding: 0px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.price {
  font-size: 0.9em;
}

.subtotal div {
  all: i;
  background-color: none;
  font-size: 0.9em;
  font-weight: 500;
}

.resultContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.resultContainer button {
  padding: 1rem;
}

.resultContainer svg {
  height: 2rem;
  width: 2rem;
  fill: var(--pink300);
  object-fit: contain;
}

.totalDiv {
  height: 2em;
  width: 5em;
  font-size: 2em;
  line-height: 2em;
  background-color: var(--pink50);
  border-radius: 0.5rem;
}

.money {
  font-family: 'Roboto Mono';
}

@media (prefers-color-scheme: light) {
  .tableContainer {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
  .cashierStateTable {
    background-color: hsl(0, 0%, 100%);
  }
  .cashierStateTable  thead  tr {
    border-bottom: thin solid var(--pink300);
  }

  .cashierStateTable > tbody > tr {
    border-bottom: thin solid var(--pink150);
  }

  .cashierStateTable > thead > tr > th {
    background-color: var(--pink50);
    color: var(--pink500);
  }
  .cashierStateTable > tfoot > tr {
    border-top: thin solid var(--pink500);
    background-color: white;
    color: var(--pink500);
  }

  .qty {
    background-color: var(--pink300);
    color: white;
  }
}
