.modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.159);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalChild {
	height: fit-content;
	width: fit-content;
}
